* {
    /* background-color:red; */
}

#body {
    display: flex;
    font-family: 'Girassol', cursive;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    display: inline;   
    color: rgb(95, 91, 91); 
}

.log{
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    background-color: lightgray;
    border-top:  rgb(86, 117, 97) solid 30px;
}
 
.logoos {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    padding: 1rem;
    display: inline;
}

.logos{
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.principal{
    padding-top: 150px;
}

.contenedor {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 74, 85);
}

.carrusel {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 450px;
    display: block;
}

.navegacion {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.nav {
    display: flex;
    
    width: 100%;
    justify-content: space-around;
    align-items:center;
    background-color: rgb(24, 122, 56);
    color: white;
    
}
.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color:lightgreen
}
.informacion{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    
}

.info  h2, .info p {
    display: flex;
    font-family: 'Girassol', cursive;
    justify-content: center;
    color: rgb(122, 120, 120); 
    font-size: 25px;
}

.info{
    width: 100%;
    background-color: whitesmoke;
}

.imagen1, .imagen2, .imagen3{
    height: 450px;
    width: 1000px;
}

.btnAdopcion, .btnCasa{
    background-color: lightgrey;
    border-color: solid 3px rgb(31, 40, 48);
    text-decoration: none;
    color: white;
    display: block;
    width: 120px;
    height: 40px;
    text-align: end;
    padding: 8px ;
    border-radius: 10px;    
}

.btnCasa{    
    width: 140px;     
}

.btnAdopcion, .btnCasa:hover{
    background-color: rgb(176, 183, 192);
    text-decoration: none;
    color: white;
}

.btnAdopcion, .btnCasa:active{
    transform: scale(0.8);
}

.fas{
margin-right: 8px;
}
